body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 120;
    text-align: center;
    font-style:italic;
   }

  p {
    font-weight: 50;
    }

  h1,h2,h3 {
    text-decoration: underline;
    color: rgb(0, 69, 42);
    }
    
  h5 {
    text-align: left;
    color: brown;
    font-weight:500;
    font-size: xx-large;
  }

  #line1 {
    width: 100%;
    height: 10px;
    background-color: chocolate;
    border-color: rgb(0, 0, 0);
    border-style: dashed;
  }

  #line2 {
    width: 100%;
    height: 15px;
    background-color: darkorange;
    border-color: bisque;
    border-style: ridge;
  }

  hr {
    opacity: 1;
  }

  img { 
    width: 400px;
    border-width: 5px;
    border-style:dotted;
    border-color:pink;
  }

  .hlink {
    border-width: 2px;
    border-bottom-width: 3px;
    border-style: solid;
    padding: 5px;
    margin: 10px;
    border-radius: 8px;
    font-size: 24px;
    display: block;
  }
  
  #dl-link {
    border-color: coral;
  }

  #ppt-link {
    border-color: rgb(5, 208, 254);
  }

  #books-link {
    border-color: rgb(1, 67, 18);
  }

  #finance-link {
    border-color: rgb(3, 126, 34);
  }

  #icbp-link {
    border-color: rgb(251, 181, 5);
  }
  
  #spotify-link {
    border-color: rgb(3, 205, 53);
  }

  #rickroll-link {
    border-color: rgb(251, 5, 79);
    border-radius: 10px;
    font-size: 34px;
  }

  #spotify-header {
    margin-top: 50px;
  }

  #current-date {
    color:crimson
  }

  #button-style {
    font-weight: bold;
    margin-bottom: 50px;
  }

  #google-form {
    width: 100%;
    min-height: 1000px;
  }
  
  @media screen and (min-width: 836px) {
    #bean1 {
      float: left;
    }
  
    #doge1 {
      float: right;
    }

    #meme1 {
      float: left;
    }
  }

  #super-gif {
      display: none;
  }